body{
    background-color: rgb(235, 228, 228);
    padding: 200px 100px;
    max-height: 200px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
    color: rgb(122, 114, 114);
}
.barcode{
    margin: 15pxpx;
    background-color: rgb(40, 40, 182);
    padding: 15%;
    border-style: none;
    border-radius: 0.7cm;

}
.mike{
    border-style: none;
    border-width: 20px;
    border-radius: 1.2cm;
    padding: 10%;
    margin-top: 100px;
    margin-bottom: 160px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: white;  
    
}